<div class="container">
  <div class="card col-md-4 mx-auto text-center">
    <div class="card-header">
      <h4>Sign In</h4>  
    </div>
    <div class="card-body">
        <form action="/users/signin", method="POST">
          <div class="mb-3">
            <input type="email" class="form-control form-control-sm" name="email" placeholder="Email">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control form-control-sm" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary col-12">Signup</button>
        </form>
    </div>
  </div>
</div>